body {
	background-color: green;
}

p { 
	color: blue
}

p{
	font-family: monospace;
}

i {
	font-size: 50px
}

div {
	font-size: 25px
}

div {
	display: block;
	background-color: white;
}

img {
	width: 200px;
	height: 150px;
}